@page "/deptdocnumstructs/create/"
<h3>Create a Department Document Number Structure</h3>

<EditForm Model="@deptDocNumStruct" OnValidSubmit="CreateDeptDocNumStruct">
    <DataAnnotationsValidator />
    <ValidationSummary />
    @*Seperator field*@
    <div class="form-group">
        <label for="seperator">Seperator</label>
        <InputText class="form-control" id="seperator" @bind-Value="deptDocNumStruct.Seperator" />
        <ValidationMessage For="@(() => deptDocNumStruct.Seperator)" />
    </div>
    @*Description field*@
    <div class="form-group">
        <label for="description">Description</label>
        <InputText class="form-control" id="description" @bind-Value="deptDocNumStruct.Description" />
        <ValidationMessage For="@(() => deptDocNumStruct.Description)" />
    </div>
    @*Segment Category fields*@
    @{index = 0;}
    @foreach (var newSegmentCategory in newSegmentCategories)
    {
        <div class="form-group">
            <label for="@index.ToString()">Segment Category </label>
            <InputSelect class="form-control" id="@index.ToString()" @bind-Value="newSegmentCategory.SegmentCategoryId">
                <option value=0 hidden>-- Select Segment Category --</option>
                @foreach (var segmentCategory in segmentCategories)
                {
                    <option value="@segmentCategory.SegmentCategoryId">@segmentCategory.Name</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => newSegmentCategory.SegmentCategoryId)" />
        </div>
        <div class="col-6">
            <button type="button" @onclick="(() => RemoveSegmentCategory(newSegmentCategory))" class="btn btn-danger mt-2">
                <i class="bi bi-trash"></i> Remove
            </button>
        </div>
        <br/>
        index += 1;
    }
    <hr/>
    <div class="d-flex">
        <button type="button" @onclick="(() => AddSegmentCategory())" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Add
        </button>
    </div>
    <hr/>
    <div class="d-flex">
        <button class="btn btn-success me-2" type="submit">Create</button>
        <BackToList Target="deptdocnumstructs" />
    </div>
</EditForm>