@page "/deptdocnumstructs/edit/{id:int}/"
@attribute [Authorize(Roles = "Administrator")]

<h3>Edit Department Document Number Structure</h3>
@if (deptDocNumStruct != null)
{
    <EditForm Model="@deptDocNumStruct" OnValidSubmit="EditDeptDocNumStruct">
        <DataAnnotationsValidator />
        <ValidationSummary />
        @*Seperator field*@
        <div class="form-group">
            <label for="seperator">Seperator</label>
            <InputText class="form-control" id="seperator" @bind-Value="deptDocNumStruct.Seperator"/>
            <ValidationMessage For="@(() => deptDocNumStruct.Seperator)" />
        </div>
        @*Description field*@
        <div class="form-group">
            <label for="description">Description</label>
            <InputText DisplayName="enter" class="form-control" id="description" @bind-Value="deptDocNumStruct.Description"/>
            <ValidationMessage For="@(() => deptDocNumStruct.Description)" />
        </div>
        @*Segment Category fields*@
        @{index = 0;}
        @if (deptDocNumStruct.SegmentCategories != null)
        {
            @foreach(var segmentCategory in ddnsSegmentCategories)
            {
                <div class="form-group">
                    <label for="@index.ToString()">Data Type</label>
                    <InputSelect class="form-control" id="@index.ToString()" @bind-Value="segmentCategory.SegmentCategoryId">
                        <option hidden value="0">-- Select Segment Category --</option>
                        @foreach (var segmentCategory in segmentCategories)
                        {
                            <option value="@segmentCategory.SegmentCategoryId">@segmentCategory.Name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => segmentCategory.SegmentCategoryId)" />
                </div>
                <div class="d-flex">
                    <button type="button" @onclick="(() => RemoveSegmentCategory(segmentCategory))" class="btn btn-danger">
                        <i class="bi bi-trash"></i> Remove
                    </button>
                </div>
                <br/>
                index += 1;
            }
        }
        else
        {
            <p>Loading...</p>
        }
        <hr/>
        <div class="d-flex">
            <button type="button" @onclick="(() => AddSegmentCategory())" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Add
            </button>
        </div>
        <hr/>
        <div class="d-flex">
            <button class="btn btn-success me-2" type="submit">Update</button>
            <BackToList Target="deptdocnumstructs" />
        </div>
    </EditForm>
}
else
{
    <p>Loading...</p>
}