@page "/mediatypes/"

<h3>Media Types</h3>

<div class="m-2 d-flex justify-content-end">
    <a href="/mediatypes/create" class="btn btn-success">Create</a>
</div>

@if (string.IsNullOrEmpty(message) == false)
{
    <div class="alert alert-danger">
        @message
    </div>
}

<div>
    @if (mediaTypes == null)
    {
        <p>Loading Data...</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mediaType in mediaTypes)
                {
                    <tr>
                        <td>@mediaType.MediaTypeId </td>
                        <td>@mediaType.Description </td>
                        <td>
                            <AuthorizeView Roles="Administrator">
                                <button @onclick="@(() => EditMediaType(mediaType.MediaTypeId))" class="btn btn-warning">Edit</button>
                                <button @onclick="@(() => DeleteMediaType(mediaType.MediaTypeId))" class="btn btn-danger">Delete</button>
                            </AuthorizeView>
                            <button @onclick="@(() => DetailsMediaType(mediaType.MediaTypeId))" class="btn btn-info">Details</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>