@page "/segmentcategories/create/"
<h3>Create a Segment Category</h3>

<EditForm Model="@segmentCategory" OnValidSubmit="CreateSegmentCategory">
    <DataAnnotationsValidator />
    <ValidationSummary />
    @*Name field*@
    <div class="form-group">
        <label for="name">Category Name</label>
        <InputText class="form-control" id="name" @bind-Value="segmentCategory.Name" />
        <ValidationMessage For="@(() => segmentCategory.Name)" />
    </div>
    @*Description field*@
    <div class="form-group">
        <label for="description">Description</label>
        <InputText class="form-control" id="description" @bind-Value="segmentCategory.Description" />
        <ValidationMessage For="@(() => segmentCategory.Description)" />
    </div>
    @*DataType field*@
    <div class="form-group">
        <label for="dataType">Data Type</label>
        <InputSelect class="form-control" id="dataType" @bind-Value="segmentCategory.DataTypeId">
            <option>Select Data Type</option>
            @foreach (var dataType in dataTypes)
            {
                <option value="@dataType.DataTypeId">@dataType.Name</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => segmentCategory.DataTypeId)" />
    </div>
    @*IsPredefined field*@
    <div class="form-group">
        <label for="isPredefined">Is predefined?</label>
        <InputSelect class="form-control" id="isPredefined" @bind-Value="segmentCategory.IsPredefined">
            <option value="true">True</option>
            <option value="false">False</option>
        </InputSelect>
        <ValidationMessage For="@(() => segmentCategory.IsPredefined)" />
    </div>
    <button class="btn btn-success" type="submit">Create</button>
    <BackToList Target="segmentcategories" />
</EditForm>