@page "/statuses/"

<h3>Statuses</h3>

<div class="m-2 d-flex justify-content-end">
    <a href="/statuses/create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Create
    </a>
</div>

@if (string.IsNullOrEmpty(message) == false)
{
    <div class="alert alert-danger">
        @message
    </div>
}

<div>
    @if (statuses == null)
    {
        <p>Loading Data...</p>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var status in statuses)
                    {
                        <tr>
                            <th scope="row">@status.StatusID </th>
                            <td>@status.Description </td>
                            <td>
                                <AuthorizeView Roles="Administrator">
                                    <button @onclick="@(() => EditStatus(status.StatusID))" class="btn btn-warning">
                                        <i class="bi bi-pencil-fill"></i> Edit
                                    </button>
                                    <button @onclick="@(() => DeleteStatus(status.StatusID))" class="btn btn-danger">
                                        <i class="bi bi-trash-fill"></i> Delete
                                    </button>
                                </AuthorizeView>
                                <button @onclick="@(() => DetailsStatus(status.StatusID))" class="btn btn-info">
                                    <i class="bi bi-info-circle"></i> Details
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>