@page "/datatypes/"

<h3>Data Types</h3>

<div class="m-2 d-flex justify-content-end">
    <a href="/datatypes/create" class="btn btn-success">Create</a>
    <a href="/datatypes/test" class="btn btn-success">Test</a>
</div>

@if (string.IsNullOrEmpty(Message) == false)
{
    <div class="alert alert-danger">
        @Message
    </div>
}

<div clas></div>
@if (DataTypes == null)
{
    <p>Loading Data...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dataType in DataTypes)
            {
                <tr>
                    <td>@dataType.DataTypeId </td>
                    <td>@dataType.Name </td>
                    <td>
                        <AuthorizeView Roles="Administrator">
                            <button @onclick="@(() => EditDataType(dataType.DataTypeId))" class="btn btn-warning">Edit</button>
                            <button @onclick="@(() => DeleteDataType(dataType.DataTypeId))" class="btn btn-danger">Delete</button>
                        </AuthorizeView>
                        <button @onclick="@(() => DetailsDataType(dataType.DataTypeId))" class="btn btn-info">Details</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
